{% extends "layout.html" %}

{% block heading %}books {% endblock %}

{% block body %}

<h1>Book Search</h1>

<form action="{{ url_for('sbooks') }}" method="post">

    <div class="form-group">
        <input class="form-control" name="isbn" placeholder="isbn" type="text">
    </div>

    <div class="form-group">
        <input class="form-control" name="title" placeholder="title" type="text">
    </div>

    <div class="form-group">
        <input class="form-control" name="author" placeholder="author" type="text" >
    </div>

    <div class="form-group">
        <input class="form-control" name="year" placeholder="year" type="year">
    </div>

    


    <div class="form-group">
        <button class="btn btn-primary">Search</button>
    </div>

</form>



{% endblock %}